/* html{
    margin: 0;
    padding: 0;
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body{
    margin: 0;
    padding: 0;
}

h1{
    color: #fff;
}

h2{
    color: 
    #fff;
}

nav {
    padding: 30px;
}

nav  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
}

nav  ul  li a:hover{
    color: #b99d37;
    text-decoration:underline;
    cursor: pointer;
}

nav > ul > li> a{
    color: #fff;
    margin: 30px;
    text-align: right;
    text-transform: uppercase;
}

header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#054985, #000000);
    align-items: center;
    font-family: 'Merriweather', serif;
}


label, input, textarea {
    display: block;
}

form {
    background-color: rgb(201, 193, 193);
    color: black;
    padding: 20px;
    line-height: 20px;
    margin: 0%;
    height: 100%;
    /* border-radius: 10px; */
}

input{
    display: inline-block;
}

textarea{
    resize: none;
    align-self: center;
}

.container{
    margin: auto;
    width: 50%;
    border: 3px solid #b99d37;
    text-align: center;
}

main form textarea{
    margin-left: 100px;
    /* justify-content: center; 
    align-items: center; */
}

#logo{
    padding: 20px; 
    border-radius: 50%;
    width: 12%;
    height: auto;
}

.preferencias{
    display: block;
    /* margin: 10px; */
}

.titulo-principal{
    align-self: flex-start;
}

.titulo-centralizado{
    align-self: flex-end;
}

.principal{
    display: flex;
    flex-direction: column;
    line-height: 8px;
    width: 20%;
    /* position: relative; */
}

/* estilos para o rodapé */
.footer {
    background-image: linear-gradient(#054985, #000000);
    color: #ffffff;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 0;
    right: 0; */
    /* display: flex; */
}

.footer p{
    text-align: center;
    /* display: flex;
    justify-content: center; */
}