
body{
    margin: 0;
    padding: 0;
} 

header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#054985, #000000);
    align-items: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #fff;

}

h2{
    color: 
    #fff;
}
nav {
    padding: 30px;
    display: flex;
}

nav  div{
    list-style-type: none;
    /* align-items: center; */
    /* position: relative; */
}

nav div a{
    color: #fff;
    margin: 30px;
    text-align: right;
    text-transform: uppercase;
}

main ul {
    list-style: none;
    display: flex;
    gap: 200px;
    justify-content: center;
}

main ul li img {
    width: 300px;
    height: 400px;
    border: 2px solid #000000;
    
}

main ul li img:hover{
    border-color: #c78c19;
}

main ul li{
    text-align: center;
    font-size: 0.8rem;
}

main ul li p{
    color: #000000;
}

.titulo-principal{
    align-self: flex-start;
}

.titulo-centralizado{
    align-self: flex-end;
} 

#logo{
    padding: 20px; 
    border-radius: 50%;
    width: 12%;
    height: auto;
}

.principal{
    display: flex;
    flex-direction: column;
    line-height: 8px;
    width: 20%;
}

form div input, textarea{
    width: 100%;
}

div label, input{
    text-transform: uppercase;
} 

div{
    padding: 10px;
}

form {
    background-color: rgb(201, 193, 193);
    color: black;
    padding: 20px; 
    width: 50%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    margin: 95px auto;
    border:solid #b99d37;
}

form div{
    border: 0;
}

input{
    display: inline-block;
    font-size: 40px;
    padding: 10px;
}

textarea{
    resize: none;
    align-self: center;
}
/*
#logo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.preferencias{
    display: flex;
}

.preferencias p{
    padding: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.titulo-principal{
    align-self: flex-start;
}*/

.titulo-centralizado{
    align-self: flex-end;
}

/* .principal{
    display: flex;
    flex-direction: column; 
    align-items: center;
} */

button{
    border-radius: 20px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

footer {
    background-image: linear-gradient(#054985, #000000);
    bottom: 0;
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-size: 20px;
}
    
    #information{
        text-transform: uppercase;
    }

.footer-text {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

footer {
    background-image: linear-gradient(#054985, #000000);
    bottom: 0;
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-size: 20px;
    position:fixed;
}
    
.footer-text {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 768px) {

    header{
        flex-direction: column;
    }

    .principal{
        display: block;
        flex-direction: column;
        line-height: 8px;
        width: 20%;
    }

    nav {
        padding-bottom: 30px;
        display: flex;
    }

    .titulo-principal{
        margin: 5px;
        font-size: 20px;
        white-space: nowrap;
    }

    .titulo-centralizado{
        font-size: 20px;
        white-space: nowrap;
    }  

    form{
        padding: 20px; 
        width: 50%;
        text-align: center;
    }

    .preferencias{
        align-items: center;
        flex-direction: column;
    }
    footer{
        height: 40px;
        position: fixed;
        padding: 10px;
        
    }

    .footer-text{
        padding: 15px;
        font-size: 13px;
    }
}
/* 
@media only screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }

    nav {
        padding-bottom: 30px;
        display: flex;
    }

    .titulo-principal{
        margin: 5px;
        font-size: 20px;
        white-space: nowrap;
    }

    .titulo-centralizado{
        font-size: 20px;
        white-space: nowrap;
    }  
    
    form{
        padding: 20px; 
        width: 50%;
        text-align: center;
    }
    
    .preferencias{
        align-items: center;
        flex-direction: column;
    }
    
    

} */