html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#054985, #000000);
    align-items: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #fff;
}

h2{
    color: 
    #fff;
}

nav {

    padding: 30px;
}

nav > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
}

nav > ul > li> a{
    color: #fff;
    margin: 30px;
    text-align: right;
    text-transform: uppercase;
}

nav > ul > li> a:hover{
    color: #b99d37;
    text-decoration:underline;
    cursor: pointer;
}


a{
    text-decoration: none;
}



.principal{
    display: flex;
    flex-direction: column;
    line-height: 8px;
    width: 20%;
}

.titulo-principal{
    align-self: flex-start;
}

.titulo-centralizado{
    align-self: flex-end;
}

#logo{
    padding: 20px; 
    border-radius: 50%;
    width: 12%;
    height: auto;
}


#resumo{
    margin: 0%;
}

#academica{
    margin: 0%;

}

#profissional{
    margin: 0%;

}

.footer{
    background-image: linear-gradient(#054985, #000000);
    bottom: 0;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 25px;
    padding: 2%;
}

.info-card{
    background-color: rgb(205, 201, 201);
    color: black;
    padding: 20px;
    border-radius: 10px;   
    line-height: 20px; 
    margin: 0%;
}

@media only screen and (max-width: 600px){
    #logo{
        width: 25%;
    }
}


















